body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /*background-image: url("assets/images/overlay.png"), url("assets/images/bg2.jpg");*/
    background-color: #557B83;
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    background-attachment: fixed;
    overflow-y: scroll;
}


.icon{
    margin-top:25px;
    margin-left:15px;
}


.card {
    /* Add shadows to create the "card" effect */
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(1, 9, 45, 0.2);
    transition: 0.3s;
    background-color: #E5EFC1;
    opacity: 100%;
}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(1, 9, 45, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px 18px;
    justify-content: center;
  }

  .results{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(1, 9, 45, 0.2);
    transition: 0.3s;
    background-color: #E5EFC1;
    opacity: 100%;
  }

  